body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  line-height: 1.5;
}

p {
  color: #8a8a8a;
}

.big-heading {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 3.4rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: #f0f0f0;
}

.white-section {
  background-color: #f0f0f0;
}

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

#features .container-fluid {
  padding: 3% 15%;
}

/* Nav Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;
}

.download-btn {
  margin: 5% 3% 5% 0;
}

/* Title Image */
.title-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Features */
#features {
  position: relative;
  padding: 75px 75px;
}

.feature-block {
  padding: 50px;
}

.features-title {
  font-size: 1.5rem;
}

.icon {
  font-size: 4rem;
  color: #ff4c68;
  margin-bottom: 20px;
}

.icon:hover {
  color: #ff6f6b;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Press section */
#press {
  padding-bottom: 3%;
}

#press img {
  width: 15%;
  margin: 20px 20px 50px;
}

.text-price {
  font-size: 2.5rem;
  line-height: 1.5;
}

.text-spacing {
  margin-bottom: 57px;
}

.social-icon {
  margin: 20px 10px;
}

/* Media Queries */
@media (max-width: 1293px) {
  .big-heading {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1117px) {
  .big-heading {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }
}

@media (max-width: 995px) {
  #title {
    text-align: center;
  }

  .title-img {
    position: static;
    transform: rotate(0deg);
    margin-top: 50px;
    width: 50%;
  }

  .card-block {
    margin-bottom: 50px;
  }
}
